header .navbar-brand img {
   height: 100%;
}

header .navbar-form.navbar-left {
  margin-left: 30px;
}
header .navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  padding: 10px 0;
}
header .navbar-btn {
padding: 10px 10px;
color: #005eff;
}

header .navbar-right {
  margin-right: 20px;
}

header .navbar-default .navbar-nav > li > a {
  color: #031b69;
}

header .navbar-default .navbar-nav > li > a:hover {
  color: #005eff;

}
/* first section */

#banner {
  background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-color: #0060ff;
}
.vertical-middle h1 {
  font-size: 58px;
  line-height: 120%;
}

.vertical-middle p {
  font-size: 24px;
  line-height: 150%;
}

/* bg-2 Section Inovative bussiness*/
main .bg-2 {
  background-color: #f3f5f9;
}

main .bg-2 h6 {
 color: #626c87;
 font-size: 15px;
 text-transform: uppercase;
 font-family: 'Heebo', sans-serif;
}

main .bg-2 p {
 color:#0069ff;
 font-size: 15px;
 font-family: 'Heebo', sans-serif;
}

main .bg-2 .da {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 70px;
}
main .bg-2 .dar {
  text-align: center;
  padding-top: 65px;
  padding-bottom: 15px;
}
main .bg-2 .da p:hover {
  color: #031b69;

}

/* bg-3 */
main .bg-3 .da {
  text-align: center;
  padding-top: 70px;
}

main .bg-3 .da h2 {
  text-align: center;

  color: #031b4e;
}

main .bg-3 .pad3 {
  padding-bottom: 100px;
}

main .bg-3 .dks p {
  text-align: center;
}

main .bg-3 h5 {
  color: #031b4e;
  font-size: 20px;
}

main .bg-3 p {
  color:#5b6987;
  font-size: 20px;
  font-family: sans-serif;
}

main .bg-3 .dks{
  text-align: center;
  padding-bottom: 50px;
  font-size: 20px;
  font-family: 'Heebo', sans-serif;
  color: #656c96;
}

main .bg-3 .padd {
  padding-bottom: 10px;
}

main .bg-3 .dsa img {
  padding-bottom: 10px;
}

main .bg-3 .blacon a:hover {
  color: red;
}

main .bg-3 .blacon{
  text-align: center;
}

#noborder {
  border: none;
  padding-top: 15px;
}

/* bg-4 */
main .bg-4 .da h2 {
  text-align: center;
  color: #031b4e;
}

main .bg-4  p {
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  color: #5b6987;
  padding-bottom: 50px;
}

main .bg-4 .foo p {
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
  color: #5b6987;
  padding-top: 25px;
  padding-bottom: 5px;
}

main .bg-4 .fo .radios {
  text-align: center;
  padding-bottom: 70px;
}

main .bg-4 .fo input {
  background-color: #0069ff;
}

main .bg-4 {
  background-color: #f3f5f9;
  padding-top: 50px;
}

/* bg-5 */
main .bg-5 {
  padding-bottom: 70px;
}

main .bg-5 h2{
  text-align: center;
  color: #031b4e;
  padding-top: 70px;
  padding-bottom: 50px;
}

main .bg-5  h5 {
  color: #031b4e;
  font-size: 20px;
  padding: 10px 0;
}
main .bg-5 a {
  text-decoration: none;
}
main .bg-5  p {

  font-size: 15px;
  font-family: sans-serif;
  color: #5b6987;
}
/* bg-6 */
main .bg-6 {
  color: white;
  background: #031b4e;
  background-image: url("https://images.prismic.io/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg?auto=compress,format");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

main .bg-6 h2 {
  text-align: center;
  padding-top: 50px;
}

main .bg-6 p {
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  padding-bottom: 5px;
}

main .bg-6 .fix {
  width: 20%;
}

main .bg-6 .dix {
  width: 50%;
}

main .bg-6 .padd{
  padding-top: 15px;
}

main .bg-6 .line {
border-bottom: 1px solid grey;

  width: 90%;
}

main .bg-6 .sposta {
  padding-bottom: 70px;
}

main .bg-6 a {
  text-decoration: none;
  color: #00d7d2;
}
main .bg-6 a:hover {
  color:#1633ff;
}

/* bg-7 */
main .bg-7 {
  background-color: #f3f5f9;
}



main .bg-7 .da h2 {
  text-align: center;
  color: #031b4e;
  padding-top: 70px;
}

main .bg-7 .da p {
    color: #031b4e;
    margin: 20px auto;
    width: 70%;
    font-size: 1.4em;
    font-weight: lighter;
    text-align: center;

}

main .bg-7  .development {
  text-align: center;
  width: 20%;
  display: block;
  margin: 40px auto 20px auto;
}

main .bg-7 .colr {
    margin-top: 30px;
    margin-bottom: 150px;
    background-color: white;
    border-radius: 5px;

}

main .bg-7  .center {
  text-align: center;
}

main .bg-7  .center p {
  font-size: 20px;
  color: #686e96;
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

main .bg-7  .info {
  padding: 45px 0;
}

main .bg-7  .info p {
  font-size: 15px;
  color: #686e96;
  text-align: center;
}

/* bg-8 */
main .bg-8 {
  background-image: url(https://images.prismic.io/www-static/b4ba92a9-0956-484b-9a3f-68ef4d550fd4_bg-home-cta.svg?auto=compress,format);
}

main .bg-8 h1 {
  padding: 60px 0;
  color: white;
}

main .bg-8 .btn {
  margin-top: 25px;
  color: #0069ff;
  padding: 20px 20px;
}

footer {
  background-color: #010e28;
}
footer .footer-list ul li{
  list-style: none;
}

footer .footer-list {
  padding-top: 50px;
  color: white;
}
.footer__bottom-last {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.bottom-last__left {
  display: flex;
  align-items: center;
}
.bottom-last__left  p {

  padding-left: 20px;
  color: gray;
  font-size: 15px;

}
.bottom-last__right
{
  display: flex;
  align-items: center;

}

.black a {
  text-decoration: none;
  font-size: 15px;
  text-align: left;
  padding-top: 7px;
  color: hsla(0,0%,100%,0.5);
}

.black  ul li a{
 text-decoration: none;
 display: inline-block;
}

.black ul li {
  text-decoration: none;

}

.black ul li:first-child a{
 color: white;
}

.black hr{
  border-top: 1px solid hsla(0,0%,100%,0.5);
}
.footer-bottom-left img{
  display: inline-block;
}

.footer-bottom-left p {
  color: hsla(0,0%,100%,0.5);
  padding-left: 20px;
  display: inline-block;
}

 .black ul li a:hover {
  color: white;
}

.footer-bottom-left,
.footer-bottom-right {
  margin-top: 30px;
  margin-bottom: 60px;
}

.list-inline i {
  font-size: 20px;
}

.text-center-xs {
  text-align: center;
}

.contcont{
    text-align: center;
    padding: 60px 0 60px 0;
}

.padding__top {
  padding-top: 20px;
}

@media all and (max-width: 600px) {
  .footer__bottom-last {
    flex-direction: column;
    align-content : center;
  }

  .bottom-last__right {
    padding-top: 20px;
    justify-content: center;
  }

  main .bg-7 .development {
    padding-top: 20px;
  }

  main .bg-7 .colr {
    margin: 0;
  }

  main .bg-8 .btn {
    margin-top: 0;
    margin-bottom: 20px;

  }

  main .bg-8 h1 {
    padding-top: 20px;
    padding-bottom: 0;
  }
  .h-800 {
    padding-top: 440px;

  }
  .vertical-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

 .jumbotron {
  margin: 10px 40px;

 }

  .vertical-middle h1 {
    font-size: 31px;
    text-align: center;
    font-weight: bold;
  }
  .vertical-middle p {
    font-size: 24px;
    line-height: 150%;
    text-align: center;

  }

  main .bg-6 .fix {
 width: 27%;

}
main .bg-6 .dix {
width: 40%;

}
}

@media all and (min-width: 600px)  and (max-width: 767px){


  .h-800 {
    height: 300px;
  }

  .vertical-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-35%);
  }

  .jumbotron  {
    margin: 10px 100px;
  }

  .vertical-middle h1 {
    font-size: 31px;
    text-align: center;
    font-weight: bold;
    padding-top: 40px;
  }

  .vertical-middle p {
    font-size: 24px;
    line-height: 150%;
    text-align: center;

  }
.footer__bottom-last {
  flex-direction: column;
  align-items : center;
}

.bottom-last__right {
  padding-top: 20px;
}

.footer__bottom-last {
  margin: 0;
}


main .bg-7 .development {
  padding-top: 20px;
}

main .bg-8 .btn {
  margin-top: 0;
  margin-bottom: 20px;

}

main .bg-8 h1 {
  padding-top: 20px;
  padding-bottom: 0;
}
}

@media all and (min-width:992px) {
  .noneToe {
    display: none;
  }


}
@media all and (min-width:767px) and (max-width: 1024px) {
  .h-800 {
    height: 800px;
  }
  .vertical-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

.footer__bottom-last {
  align-items : center;
}

main .bg-7 .development {
  padding-top: 20px;
}

main .bg-8 .btn {
  margin-top: 0;
  margin-bottom: 20px;

}

main .bg-8 h1 {
  padding-top: 20px;
  padding-bottom: 0;
}
}
@media all and (min-width:1024px)  {
  .h-800 {
    height: 800px;
  }
  .vertical-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
