header .navbar-brand img {
   height: 40px;

}

header .navbar-form.navbar-left {
  margin-left: 30px;
}

header .navbar-btn {
margin-top: 10px;
padding: 10px 10px;
color: #005eff;
}

header .navbar-right {
  margin-right: 20px;
}

header .navbar-default .navbar-nav > li > a {
  color: #031b69;
}

header .navbar-default .navbar-nav > li > a:hover {
  color: #005eff;

}
/* first section */

main .bg-1 {
  background-color: #0061ff;
}
main .bg-1 .color {
  background-color: #f3f5f9;
  border-radius: 5px;
  padding-top: 20px;
}

main .bg-1 .jumbotron{
  background-color: #0061ff;
}

main {
    font-family: 'Heebo', sans-serif;
}
main .bg-1 .titolo {
width: 100%;
text-align: center;
color: #031b4e;
background-color: #f3f5f9;

}
main .bg-1 h5 {
  font-size: 20px;
  padding: 10px 0;
}
main .bg-1  .pac h1 {
  padding-top: 100px;
  color: white;
}
main .bg-1  .pac p  {
  color: white;
  font-size: 20px;
  font-family: 'Heebo', sans-serif;;
}
main .jumbotron .col-md-4 {
  margin-top: 125px;
}
main .bg-1 .form-horizontal .ass {
  padding: 0 30px
}
@media screen and (max-width: 768px) {

}

@media screen and (max-width: 991px) {
  header .navbar-brand img {
     height: 30px;
}
  header .navbar-left li a {
    display: none;
}
header .navbar-btn {
display: none;
}
}
