header .navbar-brand img {
   height: 40px;

}
header .navbar-btn {
margin-top: 10px;
padding: 10px 10px;
color: #005eff;
}
header .navbar-default .navbar-nav > li > a {
  color: #031b69;
}
header .navbar-default .navbar-nav > li > a:hover {
  color: #005eff;

}

@media screen and (max-width: 768px) {


}
@media screen and (max-width: 991px) {

  header .navbar-brand img {
     height: 30px;
}
  header .navbar-left li a {
    display: none;
}
header .navbar-btn {
display: none;
}

}
